extends layout/base
block content  
    section.content
        // Your Page Content Here
        // /.row
        .row
            .col-xs-12
                .box
                    .box-body
                    h5
                        p(align='center')
                            strong &nbsp&nbsp 
                             | Welcome to #{title}
                        hr
                        p(align='center')
                            img.img-circle(src='/adminlte/dist/img/wawan.png', alt='User Image', width='150', height='150')
                        br
                        |   
                        p(align='center') Nama Lengkap   : Hisyam Rahmawan Suharno
                        |   
                        p(align='center') &nbsp&nbsp Nama Panggilan : Wawan
                        |   
                        p(align='center') &nbsp&nbsp Instansi       : Universitas Atma Jaya Yogyakarta
                        |   
                        p(align='center') &nbsp&nbsp Jurusan        : Teknik Informatika
                        |   
                        p(align='center') &nbsp&nbsp Angkatan       : 2013
                        hr
                        |   
                        strong 
                         p(align='center')  Motivasi saya mengikuti Fullstack Javascript Workshop ini adalah ingin menambah ilmu saya dan belajar hal baru dalam bidang web,
                        strong 
                         p(align='center') agar bisa menjadi fullstack web developer, dan bisa bertemu sorang - orang expert di bidang web apps.
                        hr
                    // /.box-body
                // /.box
    // /.content