extends layout/base
block content  
    section.content
        // Your Page Content Here
        // /.row
        .row
            .col-xs-12
                .box
                    .box-header
                        h3.box-title &nbsp Hello, Motivasi
                    // /.box-header
                    .box-body
                    h4
                        p
                            strong &nbsp&nbsp Welcome to
                            |  #{title}
                        hr
                        |   &nbsp&nbsp - Nama Lengkap   : Hisyam Rahmawan Suharno
                        br
                        br
                        |   &nbsp&nbsp - Nama Panggilan : Wawan
                        br
                        br
                        |   &nbsp&nbsp - Instansi       : Universitas Atma Jaya Yogyakarta
                        br
                        br
                        |   &nbsp&nbsp - Jurusan        : Teknik Informatika
                        br
                        br
                        |   &nbsp&nbsp - Angkatan       : 2013
                        br
                        br
                        br
                    // /.box-body
                // /.box
    // /.content