header.main-header
    a(href='/').logo
        span.logo-mini
        span.logo-lg
            b Express Web
    nav(role='navigation').navbar.navbar-static-top
        a(href='#', role='button', data-toggle='offcanvas').sidebar-toggle
            span.sr-only Toggle Navigation
        div.navbar-custom-menu
            ul.navbar-nav.nav
                li.dropdown.user.user-menu
                    a.dropdown-toggle
                        img.user-image(src='/adminlte/dist/img/avatar.png', alt='User Image')
                        span.hidden-xs Hisyam Rahmawan Suharno
                    ul.dropdown-menu
                        li.user-header
                            img.img-circle(src='/adminlte/dist/img/wawan.png', alt='User Image', width='200', height='200')
                            p
                                | Hisyam Rahmawan Suharno